
h1{
    text-align: center;
    font-size: 50px;
}
.navigator ul{

    display: flex;
    gap: 2.0rem;
}

.navigator ul a{
    font-size: 20px;
}

.container{
    margin-top: 50px;
    margin-left: 20px;
}

footer{
    margin-top: 50px;
    margin-left: 20px;
}

footer ul{
    display: flex;
    gap: 2.0rem;
}

footer ul li{
    list-style-type: none;
}

footer ul li a {
    font-size: 20px;
}